<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar">
      <h1 class="title has-text-primary">
        LIST
      </h1>
      <div class="list-menu">
        <a href="" class="list-menu-item">
          <p>List 1</p>
        </a>
        <a href="" class="list-menu-item">
          <p>List 1</p>
        </a>
        <a href="" class="list-menu-item">
          <p>List 1</p>
        </a>
        <a href="" class="list-menu-item">
          <p>List 1</p>
        </a>
      </div>

      <button class="button is-primary has-text-white" (click)="createList()">+ New List</button>
    </div>
    <div class="task-list-container">
      <h1 class="title has-text-primary">TASKS</h1>
      <!-- Task element -->
      <div class="task complete">
        <p>
          something to do
        </p>
      </div>
      <div class="task">
        <p>
          something to do
        </p>
      </div>
      <div class="task">
        <p>
          something to do
        </p>
      </div>
      <div class="task">
        <p>
          something to do
        </p>
      </div>
    </div>
  </div>
</div>
